

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#title{
	background-image: url(../img/drug.png);
	background-repeat: no-repeat;
}

#centering {
	text-align: center;
	margin:0 auto;
 	float:none;
}








